".source.js":
    "Redux Action":
        prefix: "redux-action-creator"
        body: """
            const ${1:actionType} = '${1:actionType}';
            const $2 = (${3:arguments}) => ({
                type: ${1:actionType},
                payload: {
                    $4: $5
                },
                meta: {
                    $6: $7
                }
            });
        """

    "Redux Reducer":
        prefix: "redux-reducer"
        body: """
            const defaultState = {};
            const $1Reducer = (
                state = defaultState,
                action = { type: '' }
            ) => {
                switch (action.type) {
                    case $2:
                        return $3;
                    default:
                        return state;
                }
            };
        """

    "Redux Duck":
        prefix: "redux-duck"
        body: """
            const ${1:actionType} = '${1:actionType}';
            const $2 = (${3:arguments}) => ({
                type: ${1:actionType},
                payload: {
                    $4: $5
                },
                meta: {
                    $6: $7
                }
            });

            const defaultState = {};
            const $8Reducer = (
                state = defaultState,
                action = { type: '' }
            ) => {
                switch (action.type) {
                    case $1:
                        return $9;
                    default:
                        return state;
                }
            };

            export default {
                actionCreators: {
                    $2,
                },
                $8Reducer
            }
        """

    "Redux mapStateToProps":
        prefix: "redux-mapStateToProps"
        body: """
            const mapStateToProps = (state) => ({
                ${1:prop}: state.${2:stateAttribute},
            });
        """

    "Redux mapDispatchToProps":
        prefix: "redux-mapDispatchToProps"
        body: """
            import { actionCreators } from '';
            const mapDispatchToProps = (dispatch) => {
                bindActionCreators(${1:actionCreators}, dispatch);
            };
        """
