".source.js":
    "Redux Action":
        prefix: "osdActionCreator"
        body: """
            const ${1:actionType} = '${1:actionType}';

            export const ${2:actionCreatorName} = (
                ${3:arguments}
            ) => ({
                type: ${1:actionType},
                payload: {
                    $3
                }
            });
        """

    "Redux Reducer":
        prefix: "osdReducer"
        body: """
            const initialState = {};

            export const $1Reducer = (
                state = defaultState,
                action = { type: '' }
            ) => {
                switch (action.type) {
                    case $2:
                        return {
                            ...state,
                            $3
                        };
                    default:
                        return state;
                }
            };
        """

    "Redux Duck":
        prefix: "osdDuck"
        body: """
            const ${1:actionType} = '${1:actionType}';

            const ${2:actionCreatorName} = (
                ${3:arguments}
            ) => ({
                type: ${1:actionType},
                payload: {
                    $3
                }
            });

            export const ${4:actionCreators} = {
                ${2:actionCreatorName}
            }

            const initialState = {};

            export default const $5Reducer = (
                state = defaultState,
                action = { type: '' }
            ) => {
                switch (action.type) {
                    case $1:
                        return {
                            ...state,
                            $6
                        };
                    default:
                        return state;
                }
            };
        """

    "Redux connect":
        prefix: "osdConnect"
        body: """
            import { connect } from 'react-redux';
            import { bindActionCreators } from 'redux';

            ${1:const mapStateToProps = (state) => ({
                ${2:prop}: state.${3:stateAttribute},
            \\\});}

            ${4:import { ${5:actionCreators} \\\} from '$6';

            const mapDispatchToProps = (dispatch) => {
                bindActionCreators(${5:actionCreators}, dispatch);
            \\\};}

            export default connect(
                ${1:mapStateToProps},
                ${4:mapDispatchToProps}
            )($9);
        """

    "Redux mapStateToProps":
        prefix: "osdMapStateToProps"
        body: """
            const mapStateToProps = (state) => ({
                ${1:prop}: state.${2:stateAttribute},
            });
        """

    "Redux mapDispatchToProps":
        prefix: "osdMapDispatchToProps"
        body: """
            import { ${1:actionCreators} } from '$2';

            const mapDispatchToProps = (dispatch) => {
                bindActionCreators(${1:actionCreators}, dispatch);
            };
        """
